<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @exercises.each do |exercise| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= exercise.name %></td>
      <td><%= exercise.description %></td>
      <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
    </tr>
  <% end %>
  </tbody>
</table>