<ul id='exercises'>
  <% @sequence.sequence_exercises.ordered.each do |sequence_exercise| -%>
  <li id='exercise_<%=sequence_exercise.id %>'>
    <%= render :partial => 'exercise_edit', :locals => {:sequence_exercise => sequence_exercise }%>
  </li>
  <% end -%>
  <%= sortable_element("exercises", :url => { :controller => 'sequence_exercises', :action => "order" }) %>
</ul>