<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @sequences.each do |sequence| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to sequence.name, sequence_path(sequence) %></td>
      <td><%= link_to '[Edit]', edit_sequence_path(sequence) %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Sequence', new_sequence_path %>